.red-Whatsapp {
  color: #4dc247;
}

.red-facebook {
  color: #3b5999;
}

.red-instagram {
  color: #C13584;
}

.red-twitter {
  color: #55acee;
}

.red-Whatsapp {
  color: #4dc247;
}

.red-facebook {
  color: #3b5999;
}

.red-instagram {
  color: #C13584;
}

.red-twitter {
  color: #55acee;
}

@media screen and (min-width: 768px) {
  /* Style para mis titulos */
  .titles-primario {
    font-size: 40.8px;
    font-weight: 600;
  }
  .titles-secundario {
    font-size: 20.4px;
    font-weight: 600;
  }
  .titles-terciario {
    font-size: 20.4px;
    font-weight: 600;
  }
  /* Style para mis contenedores */
  nav {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: nav;
  }
  h2 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: h2;
  }
  body {
    display: -ms-grid;
    display: grid;
        grid-template-areas: 'header header' 'nav nav' 'h2 h2' 'main aside' 'footer footer';
  }
  body header {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: header;
  }
  body header .titles-primario strong {
    color: #d11616;
    font-size: 40.8px;
  }
  body header .slogan {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body header .slogan strong {
    margin: 0;
    color: #fcf4f4;
    font-size: 25.5px;
  }
  body footer {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    grid-area: footer;
  }
  body footer .titles-terciario {
    color: #fcf4f4;
    font-size: 25.5px;
  }
  body footer .contacto li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fcf4f4;
    font-size: 15.3px;
  }
  body footer .div-social-bar {
    margin: 20px;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  body footer :root {
    --Whatsapp: #4dc247;
    --facebook: #3b5999;
    --instagram: #C13584;
    --twitter: #55acee;
  }
  body footer .div-social-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 10vh;
  }
  body footer .div-social-bar ul li {
    display: inline-block;
    margin: 0 5px;
    width: 50px;
    height: 40px;
    text-align: center;
  }
  body footer .div-social-bar ul li a {
    display: block;
    padding: 0 10px;
    background: gray;
    color: whitesmoke;
    line-height: 50px;
    font-size: 30px;
    -webkit-transition: .2s;
    transition: .2s;
  }
  body footer .div-social-bar ul:hover a {
    -webkit-filter: blur(2px);
            filter: blur(2px);
  }
  body footer .div-social-bar ul a:hover {
    -webkit-transform: translateY(-2px) scale(1.05);
            transform: translateY(-2px) scale(1.05);
    -webkit-filter: none;
            filter: none;
  }
  body footer .div-social-bar ul li .icon-whatsapp:hover {
    background: var(--Whatsapp);
  }
  body footer .div-social-bar ul li .icon-facebook:hover {
    background: var(--facebook);
  }
  body footer .div-social-bar ul li .icon-instagram:hover {
    background: var(--instagram);
  }
  body footer .div-social-bar ul li .icon-twitter:hover {
    background: var(--twitter);
  }
  body main {
    display: -ms-grid;
    display: grid;
        grid-template-areas: 'vid-home aside' 'img-home aside';
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 2fr 1fr;
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: main;
  }
  body main .sec-home {
    display: -ms-grid;
    display: grid;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    grid-area: aside;
    height: 100%;
    background-color: #3d4042;
    color: white;
  }
  body main .sec-home p {
    font-size: 25.5px;
    font-family: 'Oswald', sans-serif;
  }
  body main .sec-home p strong {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding: 24px;
  }
  body main .vid-home {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: vid-home;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 450px;
    width: 100%;
    padding: 16px;
  }
  body main .img-home {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: img-home;
    width: auto;
  }
  body .main-form {
    display: -ms-grid;
    display: grid;
        grid-template-areas: 'form sec-form' 'form sec-form';
        grid-template-columns: 4fr 1fr;
        grid-template-rows: 1fr 4fr;
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: main;
  }
  body .main-form .sec-form {
    display: -ms-grid;
    display: grid;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: sec-form;
    height: 100%;
    background-color: #3d4042;
    color: white;
  }
  body .main-form .sec-form p strong {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    padding: 20px;
  }
  body .main-form form {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: form;
    padding: 30px;
  }
  body .main-form form .bg-gray-400 div .mb-3 label .form-label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .main-price {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: main;
  }
  body .main-price table {
    margin: 24px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    background-color: #1f618d;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 300px;
    width: 120px;
  }
  body .main-price table thead tr th {
    text-align: center;
    color: #fcf4f4;
  }
  body .main-price table tbody tr td {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    padding: 8px;
  }
  body .main-price table tbody tr td strong {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    text-align: center;
    color: #fcf4f4;
  }
  body .main-price .sec-price p strong {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 25.5px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    padding: 8px;
  }
  body .main-price .map-price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    width: 600px;
    margin: auto;
    padding: 24px;
  }
  body .main-price .map-price iframe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .main-galery {
    display: -ms-grid;
    display: grid;
        grid-template-areas: 'galery par-gal' 'galery par-gal' 'galery par-gal';
        grid-template-columns: 4fr 1fr;
        grid-template-rows: auto;
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: main;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .main-galery .sec-galery {
    display: -ms-grid;
    display: grid;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: par-gal;
    height: 100%;
    width: 100%;
    background-color: #3d4042;
    color: white;
  }
  body .main-galery .sec-galery p strong {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 25.5px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    padding: 20px;
  }
  body .main-galery #galery {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: galery;
    display: -ms-grid;
    display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
    grid-gap: 20px;
    height: 1080px;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    padding: 20px;
  }
  body .main-galery #galery .div-galery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    height: auto;
    margin: 15px;
    padding: 0;
  }
  body .main-galery #galery .div-galery .img-galery-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 300px;
    width: 100%;
    position: absolute;
  }
  body .main-galery #galery .div-galery .img-galery-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 300px;
    width: 100%;
    position: absolute;
  }
  body .main-galery #galery .div-galery .img-galery-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 300px;
    width: 100%;
    position: absolute;
  }
  body .main-galery #galery .div-galery .img-galery-4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 300px;
    width: 100%;
    position: absolute;
  }
  body .main-galery #galery .div-galery .img-galery-5 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 300px;
    width: 100%;
    position: absolute;
  }
  body .main-galery #galery .div-galery .img-galery-6 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 300px;
    width: 100%;
    position: absolute;
  }
  body .main-galery #galery .div-galery .img-galery-1:hover {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
  body .main-galery #galery .div-galery .img-galery-2:hover {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
  body .main-galery #galery .div-galery .img-galery-3:hover {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
  body .main-galery #galery .div-galery .img-galery-4:hover {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
  body .main-galery #galery .div-galery .img-galery-5:hover {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
  body .main-galery #galery .div-galery .img-galery-6:hover {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
}

@media screen and (min-width: 1023px) {
  /* Style para mis titulos */
  .titles-primario {
    font-size: 42px;
    font-weight: 600;
  }
  .titles-secundario {
    color: white;
    background-color: #3d4042;
    font-size: 21px;
    font-weight: 600;
  }
  .titles-terciario {
    font-size: 21px;
    font-weight: 600;
  }
  /* Style para mis contenedores */
  nav {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: nav;
  }
  h2 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: h2;
  }
  body {
    display: -ms-grid;
    display: grid;
        grid-template-areas: 'header header header' 'nav nav nav' 'h2 h2 h2' 'main main aside' 'footer footer footer';
  }
  body header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: header;
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body header .titles-primario strong {
    color: #d11616;
    font-size: 42px;
  }
  body header .slogan {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body header .slogan strong {
    margin: 0;
    color: #fcf4f4;
    font-size: 26.25px;
  }
  body footer {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    grid-area: footer;
  }
  body footer .titles-terciario {
    color: #fcf4f4;
    font-size: 26.25px;
  }
  body footer .contacto li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fcf4f4;
    font-size: 15.75px;
  }
  body footer .div-social-bar {
    margin: 20px;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  body footer :root {
    --Whatsapp: #4dc247;
    --facebook: #3b5999;
    --instagram: #C13584;
    --twitter: #55acee;
  }
  body footer .div-social-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 10vh;
  }
  body footer .div-social-bar ul li {
    display: inline-block;
    margin: 0 5px;
    width: 50px;
    height: 40px;
    text-align: center;
  }
  body footer .div-social-bar ul li a {
    display: block;
    padding: 0 10px;
    background: gray;
    color: whitesmoke;
    line-height: 50px;
    font-size: 30px;
    -webkit-transition: .2s;
    transition: .2s;
  }
  body footer .div-social-bar ul:hover a {
    -webkit-filter: blur(2px);
            filter: blur(2px);
  }
  body footer .div-social-bar ul a:hover {
    -webkit-transform: translateY(-2px) scale(1.05);
            transform: translateY(-2px) scale(1.05);
    -webkit-filter: none;
            filter: none;
  }
  body footer .div-social-bar ul li .icon-whatsapp:hover {
    background: var(--Whatsapp);
  }
  body footer .div-social-bar ul li .icon-facebook:hover {
    background: var(--facebook);
  }
  body footer .div-social-bar ul li .icon-instagram:hover {
    background: var(--instagram);
  }
  body footer .div-social-bar ul li .icon-twitter:hover {
    background: var(--twitter);
  }
  body main {
    display: -ms-grid;
    display: grid;
        grid-template-areas: 'vid-home aside' 'img-home aside';
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 2fr 1fr;
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: main;
  }
  body main .sec-home {
    display: -ms-grid;
    display: grid;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    grid-area: aside;
    height: 100%;
    background-color: #3d4042;
    color: white;
  }
  body main .sec-home p {
    font-size: 26.25px;
    font-family: 'Oswald', sans-serif;
  }
  body main .sec-home p strong {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding: 24px;
  }
  body main .vid-home {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: vid-home;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 300px;
    width: 100%;
    padding: 16px;
  }
  body main .img-home {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: img-home;
    width: auto;
  }
  .main-form {
    display: -ms-grid;
    display: grid;
        grid-template-areas: 'form sec-form' 'form sec-form';
        grid-template-columns: 4fr 1fr;
        grid-template-rows: 1fr 4fr;
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: main;
  }
  .main-form .sec-form {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: sec-form;
    height: 100%;
  }
  .main-form .sec-form p strong {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 26.25px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    padding: 20px;
  }
  .main-form form {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: form;
    padding: 30px;
  }
  .main-form form .bg-gray-400 div .mb-3 label .form-label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-price {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: main;
  }
  .main-price table {
    margin: 24px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    background-color: #1f618d;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 200px;
    width: 80px;
  }
  .main-price table thead tr th {
    text-align: center;
    color: #fcf4f4;
  }
  .main-price table tbody tr td {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    padding: 8px;
  }
  .main-price table tbody tr td strong {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    text-align: center;
    color: #fcf4f4;
  }
  .main-price .sec-price p strong {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 26.25px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    padding: 8px;
  }
  .main-price .map-price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    width: 600px;
    margin: auto;
    padding: 24px;
  }
  .main-price .map-price iframe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-galery {
    display: -ms-grid;
    display: grid;
        grid-template-areas: 'galery par-gal' 'galery par-gal' 'galery par-gal';
        grid-template-columns: 5fr 1fr;
        grid-template-rows: 6fr;
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: main;
  }
  .main-galery .sec-galery {
    display: -ms-grid;
    display: grid;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: par-gal;
    height: 100%;
    width: 100%;
    background-color: #3d4042;
    color: white;
  }
  .main-galery .sec-galery p strong {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    padding: 20px;
  }
  .main-galery #galery {
    display: -ms-grid;
    display: grid;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: galery;
        grid-template-areas: 'img-1 img-2 img-3' 'img-4 img-5 img-6';
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr;
    height: 400px;
    grid-gap: 30px;
    width: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .main-galery #galery .div-galery {
    grid-area: div-galery;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-galery #galery .div-galery .img-galery-1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: img-1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 400px;
    width: 100%;
    position: absolute;
  }
  .main-galery #galery .div-galery .img-galery-2 {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: img-2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 400px;
    width: 100%;
    position: absolute;
  }
  .main-galery #galery .div-galery .img-galery-3 {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: img-3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 400px;
    width: 100%;
    position: absolute;
  }
  .main-galery #galery .div-galery .img-galery-4 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: img-4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 400px;
    width: 100%;
    position: absolute;
  }
  .main-galery #galery .div-galery .img-galery-5 {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: img-5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 400px;
    width: 100%;
    position: absolute;
  }
  .main-galery #galery .div-galery .img-galery-6 {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: img-6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 400px;
    width: 100%;
    position: absolute;
  }
  .main-galery #galery .div-galery .img-galery-1:hover {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
  .main-galery #galery .div-galery .img-galery-2:hover {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
  .main-galery #galery .div-galery .img-galery-3:hover {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
  .main-galery #galery .div-galery .img-galery-4:hover {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
  .main-galery #galery .div-galery .img-galery-5:hover {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
  .main-galery #galery .div-galery .img-galery-6:hover {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
}

.red-Whatsapp {
  color: #4dc247;
}

.red-facebook {
  color: #3b5999;
}

.red-instagram {
  color: #C13584;
}

.red-twitter {
  color: #55acee;
}

header {
  background-color: #1f618d;
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 100px;
  font-family: 'Oswald', sans-serif;
}

.red-Whatsapp {
  color: #4dc247;
}

.red-facebook {
  color: #3b5999;
}

.red-instagram {
  color: #C13584;
}

.red-twitter {
  color: #55acee;
}

main {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #d6d3d3;
  margin: 0;
  border: none;
}

.red-Whatsapp {
  color: #4dc247;
}

.red-facebook {
  color: #3b5999;
}

.red-instagram {
  color: #C13584;
}

.red-twitter {
  color: #55acee;
}

footer {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #1f618d;
  height: 250px;
  border: none;
  margin: 0;
  font-family: 'Oswald', sans-serif;
}

/* Style para mis titulos */
.titles, .titles-primario, .titles-secundario, .titles-terciario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  border: none;
  margin: 0;
}

.titles-primario {
  font-size: 40px;
  font-weight: 600;
}

.titles-secundario {
  color: white;
  background-color: #3d4042;
  font-size: 20px;
  font-weight: 600;
}

.titles-terciario {
  font-size: 20px;
  font-weight: 600;
}

body {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'header' 'nav' 'h2' 'main' 'aside' 'footer';
  /* Style para mis contenedores */
}

body header {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

body header .titles-primario strong {
  color: #d11616;
  font-size: 40px;
}

body header .slogan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .slogan strong {
  margin: 0;
  color: #fcf4f4;
  font-size: 25px;
}

body nav {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: nav;
}

body h2 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: h2;
}

body footer {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: footer;
}

body footer .titles-terciario {
  color: #fcf4f4;
  font-size: 25px;
}

body footer .contacto li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fcf4f4;
  font-size: 15px;
}

body footer .div-social-bar {
  margin: 20px;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body footer :root {
  --Whatsapp: #4dc247;
  --facebook: #3b5999;
  --instagram: #C13584;
  --twitter: #55acee;
}

body footer .div-social-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 10vh;
}

body footer .div-social-bar ul li {
  display: inline-block;
  margin: 0 5px;
  width: 50px;
  height: 40px;
  text-align: center;
}

body footer .div-social-bar ul li a {
  display: block;
  padding: 0 10px;
  background: gray;
  color: whitesmoke;
  line-height: 50px;
  font-size: 30px;
  -webkit-transition: .2s;
  transition: .2s;
}

body footer .div-social-bar ul:hover a {
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

body footer .div-social-bar ul a:hover {
  -webkit-transform: translateY(-2px) scale(1.05);
          transform: translateY(-2px) scale(1.05);
  -webkit-filter: none;
          filter: none;
}

body footer .div-social-bar ul li .icon-whatsapp:hover {
  background: var(--Whatsapp);
}

body footer .div-social-bar ul li .icon-facebook:hover {
  background: var(--facebook);
}

body footer .div-social-bar ul li .icon-instagram:hover {
  background: var(--instagram);
}

body footer .div-social-bar ul li .icon-twitter:hover {
  background: var(--twitter);
}

body main {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: main;
}

.main-home {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'vid-home aside' 'img-home aside';
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
  -ms-grid-rows: 2fr 1fr;
      grid-template-rows: 2fr 1fr;
  margin: none;
  padding: 8px;
  width: 100%;
}

.main-home .sec-home {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: aside;
  height: 100%;
  background-color: #3d4042;
  color: white;
}

.main-home .sec-home p {
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
}

.main-home .sec-home p strong {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 24px;
}

.main-home .vid-home {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: vid-home;
  position: relative;
  padding-bottom: 75%;
  height: 100%;
  overflow: hidden;
}

.main-home .vid-home iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.main-home .img-home {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: img-home;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
}

.main-home .img-home .carousel-item {
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.main-home .img-home .carousel-item .imgnormalizada {
  width: 100%;
}

.main-form {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'sec-form' 'form';
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: 1fr 4fr;
      grid-template-rows: 1fr 4fr;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: main;
}

.main-form .sec-form {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: top;
      -ms-flex-pack: top;
          justify-content: top;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: sec-form;
}

.main-form .sec-form p strong {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  padding: 10px;
}

.main-form form {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: form;
  padding: 30px;
}

.main-form form .bg-gray-400 div .mb-3 label .form-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-price {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'price' 'cards'  'table'  'map';
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: 2fr  4fr 4fr 4fr;
      grid-template-rows: 2fr  4fr 4fr 4fr;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: main;
}

.main-price .sec-price {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: price;
}

.main-price .sec-cards {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: cards;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
}

.main-price table {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: table;
  margin: 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: #1f618d;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 200px;
  width: 100%;
}

.main-price table thead tr th {
  text-align: center;
  color: #fcf4f4;
}

.main-price table tbody tr td {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 8px;
}

.main-price table tbody tr td strong {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  text-align: center;
  color: #fcf4f4;
}

.main-price .sec-price p strong {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  padding: 8px;
}

.main-price .map-price {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: map;
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
}

.main-price .map-price iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.main-galery {
      grid-template-areas: 'par-gal' 'galery';
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 7fr;
      grid-template-rows: 1fr 7fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: main;
}

.main-galery .sec-galery {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: par-gal;
  height: 150px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}

.main-galery .sec-galery p strong {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 25px;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  padding: 20px;
}

.main-galery #galery {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: galery;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: repeat 6, 1fr;
      grid-template-rows: repeat 6, 1fr;
  grid-gap: 15px;
  height: auto;
  width: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 15px;
}

.main-galery #galery .div-galery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
}

.main-galery #galery .div-galery .img-galery-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 300px;
  width: 100%;
}

.main-galery #galery .div-galery .img-galery-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 300px;
  width: 100%;
}

.main-galery #galery .div-galery .img-galery-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 300px;
  width: 100%;
}

.main-galery #galery .div-galery .img-galery-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 300px;
  width: 100%;
}

.main-galery #galery .div-galery .img-galery-5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 300px;
  width: 100%;
}

.main-galery #galery .div-galery .img-galery-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 300px;
  width: 100%;
}

.main-galery #galery .div-galery .img-galery-1:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.main-galery #galery .div-galery .img-galery-2:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.main-galery #galery .div-galery .img-galery-3:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.main-galery #galery .div-galery .img-galery-4:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.main-galery #galery .div-galery .img-galery-5:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.main-galery #galery .div-galery .img-galery-6:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}
/*# sourceMappingURL=main.css.map */